<h1>Computer#New</h1> <%= link_to 'new', new_book_path %>
<%= form_for @computer do |c|%>
Brand :<%=c.text_field :brand%> <br>  
Price :<%= c.text_field :price%> <br> 
<%=c.submit 'Create' %>
<% end %><hr>