<h1>Computers#index <%= link_to 'New',new_computer_path%> </h1> 
<% @computers.each do |c|%>
Brand :<%=c.brand%> <br>
Price :<%= c.price%> <br>
<%= link_to 'Show',computer_path(c.id)%>
<%= link_to 'Edit',edit_computer_path(c.id)%>
<%= link_to 'Delete',computer_path(c.id),method: :delete,data: {confirm: "Are u sure"} %><hr>
<% end %>