<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @shoe.brand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shoe.price %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
